.container {
  margin: 3rem;
  max-width: 700px;
}

.headingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap-reverse;
}

.headingContainer h1 {
  max-width: 350px;
  font-size: 3rem;
  margin: 0;
}

.contentContainer {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.contentContainer h2 {
  font-family: var(--font-jetbrains-mono);
}

.contentContainer p {
  font-family: var(--font-merriweather);
}
