.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.container h1 {
    margin: 0;
}

.textSmall {
    font-size: 40px;
}

.textMedium {
    font-size: 50px;
}

.textLarge {
    font-size: 80px;
}