.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5rem;
  padding-left: 1rem;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  z-index: 10;
}

.title {
  opacity: 0;
  transition: opacity 0.5s ease;

  border-left: solid 2px #666;
  padding-left: 1rem;
  margin: 0
}

.visible {
  opacity: 1;
}
